* {
    font-family: sans-serif;
    color: darkgreen;
}

[href]{
    color:black;

.header {
    padding: 60px;
    text-align: center;
    background: rgba(255, 219, 233, 255);
    color: rgb(10, 55, 21);
    font-family: cursive;
}
.body {
    border: 5px solid rgba(255, 219, 233, 255);
    margin-top: 100px;
    margin-bottom:100px;
    margin-right: 250px;
    margin-left: 250px;
    background-color: pink;
    background-image: url('picture/repeated-background-fortmatted.jpg');
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgba(237, 228, 228, 0.354);
   color: rgb(10, 55, 21);
   text-align: center;
}


<!--for css: font, page break, colour, fit the page, styling table, margins (https://www.w3schools.com/css/tryit.asp?filename=trycss_margin_sides)-->